.tab-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #171717;
}

.tab-menu__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tab-menu__header-item {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.tab-menu__header-item:hover {
    background-color: #fafafa;
}

.tab-menu__header-item.active {
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    border-color: #e5e5e5;
}

.tab-menu__content-item {
    text-align: left;
    font-size:16px;
    line-height: 24px;
}