.text-area-component-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}
.text-area-component-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 112px 0 50px;
    width: 340px;
}
