.profile-card-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #171717;
    background-image: linear-gradient(to bottom right, #F9FAFB, #D2D6DB);
}

.profile-card {
    display: flex;
    flex-direction: column;
    width: 340px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
    margin: 200px 0 0;
}

.profile-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 16px;
    cursor: default;
}

.profile-card__image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 12px 0 0;
}

.profile-card__name-container {
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
    align-items: center;
}

.profile-card__name {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.profile-card__designation {
    color: #525252;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.profile-card__summary {
    text-align: center;
    margin: 0 0 12px;
    font-size: 16px;
    line-height: 24px;
    color: #525252;
}

.profile-card__contact {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background-color: #4338CA;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profile-card__contact:hover {
    background-color: #7b71f3;
}

.profile-card__socials {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0 0 12px;
}

.profile-card__socials-icon {
    cursor: pointer;
    color: #4338CA;
    margin: 8px;
    font-size: 20px;
}

.profile-card__socials-icon:hover {
    color: #7b71f3;
}

.profile-card__socials-icon:focus {
    color: #372caa;
}