.text-input-component-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}
.text-input-component-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 112px 0 50px;
    width: 340px;
}

.text-input-component-list__item {
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px; */
}
    
    @media screen and (max-width: 768px) {
        .button-section__item {
            gap: 10px;
        }
}