.badge-component-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.badges-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 8px;
    background-color: #ffffff;
    overflow: hidden;
    margin: 200px 0 50px;
    padding: 10px
}

.badge-section__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
    
    @media screen and (max-width: 768px) {
        .badge-section__item {
            gap: 20px;
        }
}